builds/
repos/kristforge/kristforge
repos/obs-studio/obs-studio
repos/obs-studio/obs-studio-portable


# OBS-STUDIO
#repos/obs-studio/cef_binary_4638_linux64.tar.bz2
# duplicates just in case
#cdrepos/obs-studio/cef_binary_4638_linux64.tar.bz2.*
# The repo itself
#repos/obs-studio/obs-studio/
